@font-face {
  font-family: "gotham_bold";
  src: url("../../assets/fonts/gotham_bold/Gotham\ Bold.otf");
}

@font-face {
  font-family: "gotham_light";
  src: url("../../assets/fonts/gotham_bold/Gotham-Light.otf");
}

@font-face {
  font-family: "libre_baskerville";
  src: url("../../assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "libre_baskerville";
  src: url("../../assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "libre_baskerville";
  font-style: italic;
  src: url("../../assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf");
}

$black: #34495e;

h1,h2,h3,h4,h5,h6{
  font-family: "gotham_bold";
}

h1{
  font-size: 2em;
  margin-bottom: 8px;
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.25em;
}

p, a, ol, ul{
  font-family: "libre_baskerville";
  line-height: 1.5em;
}

i{
  font-style: italic;
}

strong{
  font-weight: bold;
}

ul li{
  list-style-type: disc;
}

ol li{
  list-style-type: decimal;
}

ol, ul {
  padding-left: 20px;
}

a{
  cursor: pointer;
  transition: 0.2s all;
  &:hover{
    font-weight: bold;
  }
}

th, td {
  border: 2px solid $black;
}

th, td{
  padding: 5px;
  width: 33.3%;
}

th{
  font-weight: bold;
}

table{
  display: inline-block;
  margin-right: 10px;
  width: calc(50% - 15px);
}

.graph-demonstration{
  display: inline-block;
}

.hidden{
  display: none;
}
